.container-crew {
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.container-crew .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.circle-list li {
  width: 1rem;
  height: 1rem;
  background-color: var(--gray);
  border-radius: 50%;
  cursor: pointer;
}

.circle-list li.active {
  background-color: var(--white);
}

.container-crew section.info .title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container-crew section.info span.subtitle {
  margin-bottom: 5rem;
}

.container-crew .container-title-subtitle .subtitle {
  font-family: var(--bellefair);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.container-title-subtitle .info-bio {
  text-align: center;
  max-width: 37rem;
  margin-bottom: 3rem;
}

.container-crew .info span.subtitle {
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
}

.container-title-subtitle {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container-title-subtitle .title {
  order: 2;
}

.container-title-subtitle .subtitle {
  opacity: 0.5;
}

.container-title-subtitle p {
  order: 3;
  margin: 0;
}
.container-crew section.image {
  padding: 0 2rem;
}

.container-crew section.image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  mask-image: linear-gradient(to top, transparent, black 35%, black);
  -webkit-mask-image: linear-gradient(to top, transparent, black 35%, black);
  max-height: 30rem;
  margin: 0 auto;
}

/* MEDIA QUERYS */

/* TABLET */
@media (min-width: 768px) {
  .container-crew {
    flex-direction: column;
  }

  .container-crew section.info {
    margin-top: 0;
    padding-left: 2rem;
  }

  .container-crew .info span.subtitle {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .container-title-subtitle {
    align-items: center;
  }
  .circle-list {
    justify-content: center;
  }
  .container-title-subtitle .info-bio {
    text-align: center;
    width: 61%;
    max-width: unset;
  }

  .container-title-subtitle .subtitle {
    font-size: 2.4rem;
  }
  .container-title-subtitle .title {
    font-size: 4rem;
  }

  .container-crew .circle-list {
    margin-top: 0;
  }

  .container-crew section.image {
    width: 40%;
    margin: 0 auto;
  }

  .container-crew section.image img {
    max-height: 44rem;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .container-crew {
    width: 100%;
    flex-direction: row;
  }

  .container-crew .info {
    align-items: flex-start;
  }

  .container-crew .info span.subtitle {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 2.8rem;
  }

  .container-crew section.info .title {
    font-size: 5.6rem;
  }

  .container-title-subtitle {
    align-items: start;
  }

  .container-crew .container-title-subtitle .subtitle {
    font-size: 3.2rem;
  }

  .circle-list {
    justify-content: start;
  }

  .container-crew .container-title-subtitle p {
    max-width: 88%;
  }

  .container-title-subtitle .info-bio {
    text-align: left;
    width: unset;
  }

  .container-crew .circle-list {
    gap: 3rem;
  }

  .container-crew .circle-list li {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .container-crew section.image {
    height: 55rem;
    max-width: 55rem;
  }

  .container-crew section.image img {
    max-height: initial;
  }
}

/* DESKTOP XL */

@media (min-width: 1200px) {
  .container-crew {
    width: 90%;
    margin: 0 12rem;
  }
}
