header {
  width: 100%;
  height: 10rem;
  max-width: 144rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;

  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 6vw;
  position: relative;
}

/* LINE HEADER */
.logo:after {
  content: "";
  position: absolute;
  width: calc(var(--line-width) - var(--line-padding));
  right: 0;
  background: var(--gray);
  height: 0.1rem;
  z-index: 2;
}

.menu-nav {
  flex: 1;
}

.burger-menu {
  padding-right: 6vw;
  cursor: pointer;
  z-index: 1;
}



.list-item-nav {
  display: flex;
  height: 10rem;
  z-index: 1;
  padding-left: 8vw;

  position: absolute;
  right: 0;
  top: 0;

  padding-right: 6vw;

  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;

  gap: 3rem;
  padding-top: 10rem;
}

.list-item-nav li {
  font-family: var(--barlow-condensed);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  z-index: 1;
}

.list-item-nav .link-item {
  display: flex;
  color: var(--white);
}

.number-nav {
  font-weight: 700;
  padding-right: 1rem;
}

/* Estilos para el menú lateral derecho */
.menu-nav {
  position: fixed;
  top: 0;
  right: -60%;
  height: 100%;
  width: 60%;
  max-width: 30rem;
  transition: right 0.3s ease;

  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
}

.menu-nav.active {
  right: 0;
}

/* MEDIA QUERYS */

/* MOBIL */
@media (min-width: 320px) {
  .logo:after {
    content: unset;
  }
  header {
    margin-top: 0;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .menu-nav {
    display: flex;
    position: initial;

    height: unset;
    width: unset;
    max-width: unset;
    backdrop-filter: none;
    
  }
  .burger-menu {
    display: none;
  }

  .sidebar-menu {
    
    position: initial;
    width: unset;

    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: none;
  }

  .list-item-nav {
    align-items: center;
    flex-direction: row;
    width: unset;

    gap: 5rem;
    padding-top: 0;
  }

  .list-item-nav:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5rem);
    padding-right: 6vw;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  header {
    margin-top: 3rem;
  }

  .logo:after {
    content: "";
  }
}

@media (max-width: 1270px) {
  .logo:after {
    right: var(--right-line);
  }
}
