.container-home {
  display: flex;
  align-items: center;
}

.home,
.explore {
  width: 50%;
}

.home {
  margin-left: 10rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: unset;
}

.explore {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.title {
  font-size: 8rem;
  text-transform: uppercase;
}

.title,
.subtitle {
  margin-bottom: 2rem;
}

.desc {
  font-size: 1.6rem;
  max-width: 80%;
  line-height: 1.4;
  margin: 0;
  text-align: center;
  margin-bottom: 7rem;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.4rem;
  height: 14.4rem;
  background: var(--white);
  border-radius: 50%;
  color: var(--black);
  font-family: var(--bellefair);
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.circle:hover {
  box-shadow: 0px 0px 0px 3rem #9797976b;
  transition: 0.5s;
}

/* MEDIA QUERYS */

/* MOBIL */
@media (min-width: 320px) {
  .container-home {
    flex-direction: column;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .home {
    max-width: 80%;
  }
  
  .title {
    font-size: 14rem;
  }

  .subtitle {
    font-size: 2.8rem;
  }

  .desc {
    font-size: 1.8rem;
  }

  .circle {
    width: 27.2rem;
    height: 27.2rem;
    font-size: 3.2rem;
  }

  .circle:hover {
    box-shadow: 0px 0px 0px 5rem #9797976b;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .container-home {
    flex-direction: row;
  }
  .home {
    margin-left: 10rem;
    display: flow-root;
    width: 50%;
  }

  .desc {
    text-align: left;
    margin-bottom: 0;
  }

  .explore {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
  }
}
