<div class="container-technology" *ngIf="selectedTechnology">

  <section class="info">
    <div class="b-1">
      <div class="container-title-subtitle">
        <span class="subtitle">
          <span class="number-title">03</span> space launch 101
        </span>
        
        <h1
          class="title"
          [ngClass]="{ 'animate__animated animate__fadeIn': animate }"
        >
          {{ selectedTechnology.name }}
        </h1>
        <h2 class="subtitle">the terminology...</h2>

        <p
          class="info-bio"
          [ngClass]="{ 'animate__animated animate__fadeIn': animate }"
        >
          {{ selectedTechnology.description }}
        </p>
      </div>
      <ul class="circle-list">
        <li
          *ngFor="let technology of technologies; let i = index"
          (click)="selecTechnology(technology)"
          [class.active]="technology === selectedTechnology"
        >
          {{ i + 1 }}
        </li>
      </ul>
    </div>
  </section>
  <section class="image">
    <img
      class="image"
      [src]="imageUrl"
      [alt]="selectedTechnology.name"
      [ngClass]="{ 'animate__animated animate__fadeIn': animate }"
    />
  </section>
</div>
