.container-technology {
  display: flex;
  justify-content: flex-end;
}

.container-technology section.info {
  display: flex;
  align-items: center;
  position: relative;
}

.container-technology .info .b-1 {
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
}

.container-technology .info h1.title {
  font-size: 5.6rem;
  text-transform: uppercase;
}

.container-technology .info h2.subtitle {
  font-size: 3.2rem;
  font-family: var(--bellefair);
  opacity: 0.5;
}

.container-title-subtitle {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.container-title-subtitle h1.title {
  order: 2;
}

.container-title-subtitle p.info-bio {
  order: 3;
  max-width: 93%;
  margin: 0;
}

.container-title-subtitle span.subtitle {
  position: absolute;
  top: -8rem;
  left: 0;
  letter-spacing: 0.3rem;
}

.circle-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: max-content;
}

.circle-list li {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--white);
  transition: background-color 0.6s, color 0.6s;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-family: var(--bellefair);
}

.circle-list li.active {
  color: var(--black);
  background-color: var(--white);
}

/* SECTION IMAGE */
.container-technology section.image {
  display: flex;
  justify-content: flex-end;
  max-width: max-content;
}

.container-technology section.image .image{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
